<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Restaurant</title>
	</head>
	<body>
		<div>
			<ul>
				<li class='pics'>
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
				</li>
			</ul>
			<ul>
				<li class='pics2'>
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
					<img src="assets/img/burger.png" alt="burger">
				</li>
			</ul>
		</div>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src='/assets/js/main.js'></script>
	</body>
</html>
