<h1 id='burger'>Burger Restaurant</h1>

<div class='devoured'>
    <ol>
        {{#each burgers}}
            {{#unless this.devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ol>
    <ol>
        {{#each burgers}}
            {{#if this.devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/if}}
        {{/each}}
    </ol>
    <ol>
        {{#each burgers}}
            {{> burgers/burger-block delete}}
        {{/each}}
    </ol>
</div>

<form class='create-form'>
    <textarea id='burgername' name='choice' placeholder='Add a Burger'></textarea>
    <button id='submit' type='submit'>Add Burger</button>
</form>
