<li>
    {{burger_name}}

    <button class='eat' data-id='{{id}}' data-devour='{{devoured}}'>
        {{#if devoured}}DEVOUR{{/if}}
    </button>
    
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>